<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <!-- Head -->
  <div th:replace="fragments/head :: head"></div>
  <body>
    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div
      th:if="${exito != null}"
      class="card text-white bg-success mb-3 mt-3 mensajeExito"
    >
      <div class="card-body">
        <h5 class="card-title">¡Éxito!</h5>
        <p class="card-text" th:text="${exito}"></p>
      </div>
    </div>
    <div
      th:if="${error != null}"
      class="card text-white bg-danger mb-3 mensajeError"
    >
      <div class="card-body">
        <h5 class="card-title">¡Error! 👎</h5>
        <p class="card-text" th:text="${error}"></p>
      </div>
    </div>
    <header>
      <!-- Carrusel -->
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/img/alcancia_carousel.jpeg"
              class="d-block w-50 mx-auto"
              alt="First slide"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/img/superofertacartel.jpeg"
              class="d-block w-50 mx-auto"
              alt="Second slide"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/img/carousel7.jpg"
              class="d-block w-50 mx-auto"
              alt="Third slide"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </header>
    <br />
    <br />
    <section>
      <div
        id="productos"
        class="d-flex justify-content-center align-items-center flex-wrap img-fluid"
        style="width: 100%"
      >
        <div
          class="card m-2 shadow"
          style="background-color: #e9ecef; border: none; width: 18rem"
          th:each="producto : ${productos}"
        >
          <!-- Imagen del producto -->
          <img
            th:src="@{/producto/imagen/__${producto.idProducto}__}"
            alt="imagen-producto"
            class="card-img-top img-fluid mx-auto product-img"
            style="height: 200px; object-fit: cover; cursor: pointer"
          />
          <div class="card-body p-0" style="background-color: #e9ecef">
            <p
              class="card-text mb-0"
              th:text="${producto.nombre}"
              style="font-size: 20px; text-align: center"
            ></p>
            <h5
              class="card-title mt-2 mb-0"
              style="font-size: 40px; text-align: center; color: black"
              th:text="'$ ' + ${producto.precio}"
            ></h5>
          </div>
        </div>
      </div>
    </section>
    <br />
    <br />
    <!-- Controles de paginación -->
    <div th:if="${pageable.totalPages > 1}">
      <ul class="pagination">
        <li th:if="${not pageable.first}" class="page-item">
          <a
            class="page-link"
            th:href="@{/admin/dashboard/(page=0, size=${pageable.size})}"
            >Primera</a
          >
        </li>
        <li th:if="${pageable.hasPrevious}" class="page-item">
          <a
            class="page-link"
            th:href="@{/admin/dashboard/(page=${pageable.previousPageable.pageNumber}, size=${pageable.size})}"
            >Anterior</a
          >
        </li>
        <li
          th:each="pageNumber : ${#numbers.sequence(0, pageable.totalPages - 1)}"
          class="page-item"
        >
          <a
            class="page-link"
            th:href="@{/admin/dashboard/(page=${pageNumber}, size=${pageable.size})}"
            th:text="${pageNumber + 1}"
          ></a>
        </li>
        <li th:if="${pageable.hasNext}" class="page-item">
          <a
            class="page-link"
            th:href="@{/admin/dashboard/(page=${pageable.nextPageable.pageNumber}, size=${pageable.size})}"
            >Siguiente</a
          >
        </li>
        <li th:if="${not pageable.last}" class="page-item">
          <a
            class="page-link"
            th:href="@{/admin/dashboard/(page=${pageable.totalPages - 1}, size=${pageable.size})}"
            >Última</a
          >
        </li>
      </ul>
    </div>
    <button
      id="backToTop"
      style="display: none; position: fixed; bottom: 20px; right: 20px"
    >
      ↑ Volver Arriba
    </button>
    <!-- Modal para ampliar las imágenes -->
    <div
      class="modal fade"
      id="imageModal"
      tabindex="-1"
      aria-labelledby="imageModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel">Imagen Ampliada</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              id="modalImage"
              src=""
              alt="Imagen Ampliada"
              style="width: 100%; height: auto"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/script.js}"></script>
    <script>
      // Al hacer clic en una imagen, abrir el modal y cargar la imagen seleccionada
      document.querySelectorAll(".product-img").forEach(function (img) {
        img.addEventListener("click", function () {
          const imgSrc = this.getAttribute("src");
          document.getElementById("modalImage").setAttribute("src", imgSrc);
          const modal = new bootstrap.Modal(
            document.getElementById("imageModal")
          );
          modal.show();
        });
      });
    </script>
  </body>
</html>
