<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" >
        <title>Despensa Alcancia</title>
        <!-- CSS only  Apunta a css Index-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css"> 
        <!-- Compiled and minified Bootstrap CSS -->
        <!-- Compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link rel="stylesheet" href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
    
    </head>
    <body>

        <nav 
            th:replace= "/fragments/navbar :: nav">    
        </nav>
        <div class="container-fluid m-5 contenedor">

            <form class="formulario" th:action="@{/producto/modificar/__${producto.idProducto}__}" method="POST" enctype="multipart/form-data">

                <input hidden th:value="${idProducto}" name="idProducto">

                <div class="form-group my-3">
                    <label class="mb-2">Modificar Producto</label> 

                    <input th:value="${producto.nombre}" type="text" class="form-control" name="nombre" placeholder="Nombre">
                </div>
                <div class="form-group my-3">
                    <label class="mb-2">codigo</label> 

                    <input th:value="${producto.codigo}" type="text" class="form-control" name="codigo" placeholder="codigo">
                </div>


                <div class="form-group my-3">
                    <label class="mb-2">Precio</label> 
                    <input th:value="${producto.precio}" type="number" class="form-control" name="precio" placeholder="Precio del Producto">
                </div>
                <div class="form-group my-3">
                    <select name="idProveedor">
                        <option>Seleccionar Proveedor</option>
                        <option th:each="proveedor : ${proveedores}"
                                th:value="${proveedor.idProveedor}" 
                                th:text="${proveedor.nombre}"
                                />
                    </select>
                </div>
                <div class="form-group my-3">
                    <select name="idRubro">
                        <option>Seleccionar Rubro</option>
                        <option th:each="rubro : ${rubros}"
                                th:value="${rubro.idRubro}" 
                                th:text="${rubro.nombre}"
                                />
                    </select>
                </div>
                
                 <div class="form-group my-3">
                    <label class="mb-2">Imagen</label> 
                    <input  type="file" class="form-control" name="archivo" placeholder="Imagen del producto">
                </div>
                

                <button type="submit" class="btn btn-primary mt-3 botones">Actualizar</button>


                <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                    <div class="card-body">
                        <h5 class="card-title">Exito 👍</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                    <div class="card-body">
                        <h5 class="card-title">Error 👎</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                <section class=" text-center container">
                    <div class="row mt-3">
                        <div class="divVolver">
                            <a th:href="@{/index}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                        </div>
                    </div>
                </section>
            </form>

        </div>

        <footer th:replace= "/fragments/footer :: footer"> </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
