<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head"> </head>

    <body>

        <nav 
            th:replace= "/fragments/navbar :: nav">    
        </nav>
        <div class="table-responsive" >
            <form class="form-inline" th:action="@{/producto/lista}">
                <div class="form-group mb-2">
                    <label>Filtrar : </label>  
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" name="palabraClave"  class="form-control"  id="palabraClave" th:value="${palabraClave}" placeholder="Digite el valor a buscar" required>              
                </div>
                <input type="submit" class="btn btn-info mb-2" value="Buscar">
                &nbsp;&nbsp;

                <a th:href="@{/producto/lista}" class="btn btn-secondary mb-2">Limpiar</a>
                
                <a th:href="@{/producto/exportarPDF}" class="btn btn-secondary mb-2 mx-2"> Exportar PDF </a>
            </form>
            <table class="table table-dark" id="small-table">
                <thead>
                    <tr>
                       <!-- <th scope="col">id del producto</th>-->
                        <th scope="col">codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">contenido</th>
                        <th scope="col">Precios</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Rubros</th>
                        <th scope="col" >Acciones</th>

                    </tr>
                </thead>
                <tbody th:each="producto : ${productos}"> 
                    <tr>
                       <!-- <th scope="row" th:text="${producto.idProducto}"></th>-->
                        <td th:text="${producto.codigo}"></td>
                        <td th:text="${producto.nombre}"></td>
                        <td 
                            <a><img class="logo" th:src="@{/producto/imagen/__${producto.idProducto}__}" ></a>
                        </td>
                        <td th:text="${producto.precio}"></td>
                        <td th:text="${producto.proveedor.nombre}"></td>
                        <td th:text="${producto.rubro.nombre}"></td>
                        <td>
                            <a  th:href= "@{/producto/modificar/__${producto.idProducto}__}"><i class="fas fa-feather-alt"></i> Modificar </a>
                        </td>
                        <td>
                            <a  th:href= "@{/producto/eliminar/__${producto.idProducto}__}"><i class="fas fa-feather-alt"></i> Eliminar </a>
                        </td>
                        <td>
                            <!--<a   th:href="@{/producto/exportarPDF}"><i class="fas fa-feather-alt"></i> Exportar PDF </a>-->

                        </td>

                    </tr>


                </tbody>
            </table>

            <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Exito ð</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                <div class="card-body">
                    <h5 class="card-title">Error ð</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <a th:href="@{/inicio}" class="btn btn-primary my-2">Volver</a>
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!--<div class="d-flex justify-content-center align-items-center flex-wrap"  style="width: 100%;">
            <div class="card m-2 shadow" style="width: 18rem; height: 400px" th:each="producto : ${productos}">
                <img th:src="@{/producto/imagen/__${producto.idProducto}__}" alt="imagen-producto" class="card-img-top m-auto" style="width: 10rem; height:250px ">
                <div class="card-body m-auto">
                    <h5 class="card-title " th:text=" ' $ ' + ${producto.precio}"></h5>
                    <p class="card-text" th:text="${producto.proveedor.nombre}"></p>
                    <p class="card-text" th:text="${producto.nombre}"></p> 
                    <a href="#" class="btn btn-primary">Ver Detalle</a>
                </div>
            </div>
        </div> -->                                                       

        <footer th:replace= "/fragments/footer :: footer"> </footer>

        <!--bootstrap juanma-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>     


    </body>

</html>

