<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <!-- Head -->
  <div th:replace="fragments/head :: head"></div>

  <body>
    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div
      th:if="${exito}!=null"
      class="card text-white bg-success mb-3 mt-3 mensajeExito"
    >
      <div class="card-body">
        <h5 class="card-title">Exito ð</h5>
        <p class="card-text" th:text="${exito}"></p>
      </div>
    </div>
    <div
      th:if="${error}!=null"
      class="card text-white bg-danger mb-3 mensajeError"
    >
      <div class="card-body">
        <h5 class="card-title">Error ð</h5>
        <p class="card-text" th:text="${error}"></p>
      </div>
    </div>
    <!-- form class="form-inline" th:action="@{/proveedor/lista}">
                     <div class="form-group mb-2">
                         <label>Filtrar : </label>  
                     </div>
                     <div class="form-group mx-sm-3 mb-2">
                         <input type="text" name="palabraClave"  class="form-control"  id="palabraClave" th:value="${palabraClave}" placeholder="Digite el valor a buscar" required>              
                     </div>
                     <input type="submit" class="btn btn-info mb-2" value="Buscar">
                     &nbsp;&nbsp;
     
                     <a th:href="@{/proveedor/lista}" class="btn btn-secondary mb-2">Limpiar</a>
     
                     <a th:href="@{/proveedor/exportarPDF}" class="btn btn-secondary mb-2 mx-2"> Exportar PDF </a>
                 </form>-->
    <table
      class="table table-striped table-hover"
      id="small-table"
      style="max-width: 100%; font-size: 0.8em"
    >
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id del Rubro</th>
          <th scope="col">Nombre del Rubro</th>
          <th scope="col" colspan="2" style="text-align: center">Acciones</th>
        </tr>
      </thead>
      <tbody th:each="rubro : ${rubros}">
        <tr>
          <td th:text="${rubro.idRubro}"></td>
          <td th:text="${rubro.nombre}"></td>
          <td>
            <a
              sec:authorize="hasRole('ADMIN')"
              th:href="@{/rubro/modificar/__${rubro.idRubro}__}"
              ><i class="fas fa-feather-alt"></i> Modificar</a
            >
          </td>
          <td>
            <a
              sec:authorize="hasRole('ADMIN')"
              th:href="@{/rubro/eliminar/__${rubro.idRubro}__}"
              ><i class="fas fa-feather-alt"></i> Eliminar</a
            >
          </td>
        </tr>
      </tbody>
    </table>

    <div class="py-5 text-center container">
      <a th:href="@{/inicio}" class="btn btn-primary">Volver</a>
    </div>
    <button
      id="backToTop"
      style="display: none; position: fixed; bottom: 20px; right: 20px"
    >
      ↑ Volver Arriba
    </button>
    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>
