

.containerImg{
    width: 40%;
}

.logo{
    width: 20%;
    margin: auto;
}


.mensajeExito{
    width: 20%;
    margin: auto;
    text-align: center;
}

.mensajeError{
    width: 20%;
    margin: auto;
    text-align: center;
}

.formulario{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.divVolver{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.botonVolver{
    width: 70%;
}

.botones{
    box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
}

.botones:active{
    box-shadow: none;
}

.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*------------------------------------------------------*/
.navbar {
    background-color: pink; /* Color de fondo del navbar */
    display: flex; /* Establece el modelo de caja como flex para alinear elementos */
    justify-content: space-between; /* Espacio entre elementos en el navbar */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px 20px; /* Espaciado alrededor del navbar */
}

#navbar-logo {
    flex-shrink: 0; /* Evita que el logotipo se contraiga al ajustar el tamaño del navegador */
}

.navbar-logo img {
    max-width: 100px; /* Ajusta el tamaño máximo del logotipo para que quepa en el navbar */
    height: auto; /* Mantiene la proporción de aspecto */
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    display: inline;
    margin-right: 20px;
}


/* Estilo para la tarjeta */
.card {
    width: 300px; /* Ajusta el ancho de la tarjeta según tus necesidades */
    
   
border: 1px solid #ccc;
    border-radius: 5px;
    
   
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

/* Estilo para la imagen dentro de la tarjeta */
.card img {
    max-width: 50%; /* Hace que la imagen ocupe todo el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    
   
border-top-left-radius: 5px;
    
   
border-top-right-radius: 5px;
}

/* Estilo para el contenido de la tarjeta */
.card-body {
    padding: 10px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.card-text {
    font-size: 14px;
}