.containerImg{
    width: 40%;
}

.logo{
    width: 100%;
    margin: auto;
}

.mensajeExito{
    width: 20%;
    margin: auto;
    text-align: center;
}

.mensajeError{
    width: 20%;
    margin: auto;
    text-align: center;
}

.formulario{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.divVolver{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.botonVolver{
    width: 70%;
}

.botones{
    box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
}

.botones:active{
    box-shadow: none;
}

/*.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}*/

.tituloBiblioteca{
    width: 80%;
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    font-weight: 500;
}

.header{
    background-image: url(../img/zoompalacio.jpg);
    background-size: cover;
    font-style:inherit;
    color: white;
    height: 550px;
    display: flex;
    justify-content: end;


}



.contenedorLibros{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloLibros{
    font-size: 22px;
    font-weight: 500;
}

.contenedorMain{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boton{
    background-color: #ffcb00;
    box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
}

.boton:hover{
    background-color: #ffcb00;
}
.boton:active{
    box-shadow: none;
}


.main > img{
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px #37474f;
}

#productos{
    display: grid;
    grid-template-columns:
        repeat(
        auto-fit, minmax(150px, 1fr)
        );
    gap: 32px;
}



/*tamaño a la imagen */
.carousel-inner img {
    width: 100%;
    max-height: 300px; /*altura imagen*/
}
/*tamaño carousel */
.carousel-inner{
    height: 300px; /*altura carousel*/
}



#cartas{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajustar la imagen al tamaño del contenedor sin distorsionarla */
}

/*----------------------------------------------------*/
/*TABLA RESPOSIVA*/
/* Estilo base de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    text-align: center;
    margin: 0 auto;
}


/* Estilo de las celdas de la tabla */
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
    }

    table td {
        border: none;
        border-bottom: 1px solid #ccc;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
    }
}
/*tamaño de tabla de los listados*/
#small-table {
    font-size: 12px; /* Tamaño de fuente más pequeño */
    border: 1px solid #ddd; /* Borde ligero alrededor de la tabla */
    width: 50%; /* Ancho de la tabla, puedes ajustarlo según tus necesidades */

}

#small-table th, #small-table td {
    padding: 5px; /* Espaciado interno reducido para celdas */
}

.tarjeta {
    width: 300px; /* Ancho deseado para la tarjeta */
    height: 400px; /* Alto deseado para la tarjeta */
    border: 1px solid #ccc; /* Opcional: agregar un borde a la tarjeta */
}

.tarjeta img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


/*---------------------------------------------navbar*/
.navbar {
    background-color: darkgrey; /* Color de fondo del navbar */
    display: flex; /* Establece el modelo de caja como flex para alinear elementos */
    justify-content: space-between; /* Espacio entre elementos en el navbar */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px 20px; /* Espaciado alrededor del navbar */
}

#navbar-logo {
    flex-shrink: 0; /* Evita que el logotipo se contraiga al ajustar el tamaño del navegador */
}

.navbar-logo img {
    max-width: 100px; /* Ajusta el tamaño máximo del logotipo para que quepa en el navbar */
    height: auto; /* Mantiene la proporción de aspecto */
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    display: inline;
    margin-right: 20px;
}


/* Estilo para la tarjeta */
.card {
    width: 300px; /* Ajusta el ancho de la tarjeta según tus necesidades */


    border: 1px solid #ccc;
    border-radius: 5px;


    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

/* Estilo para la imagen dentro de la tarjeta */
.card img {
    max-width: 50%; /* Hace que la imagen ocupe todo el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */


    border-top-left-radius: 5px;


    border-top-right-radius: 5px;
}

/* Estilo para el contenido de la tarjeta */
.card-body {
    padding: 10px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.card-text {
    font-size: 14px;
}


/* Establecer un tamaño fijo para el footer */
footer {
    height: 100px; /* Puedes ajustar la altura según tus necesidades */
    background-color: darkgrey; /* Color de fondo del footer */
    color: #fff; /* Color del texto en el footer */


    text-align: center; /* Alineación del contenido en el centro */
    padding: 20px; /* Espaciado interior del footer */
}

/* Opcional: Establecer un tamaño mínimo y máximo para el footer */
footer {
    min-height: 100px; /* Altura mínima */


    max-height: 150px; /* Altura máxima */


    overflow: auto; /* Agregar barra de desplazamiento vertical si el contenido es demasiado grande */
}

/*estilo para about (footer)*/
#bodyAbout{
    font-family: Arial, sans-serif;
    margin: 20px;
}

#headerAbout {
    text-align: center;
    background-color: pink;
    color: white;
    padding: 10px;
}

#sectionAbout {
    margin: 20px 0;
}

#h2About {
    color: #36A2EB;
}

#pAbout {
    line-height: 1.6;
}