<nav class="navbar navbar-expand-lg navBar">
    <div class="containerImg">
        <a href="/" class="navbar-brand d-flex align-items-center" id="navbar-logo">
            <img th:src="@{/img/disanco-PhotoRoom.png}" width="100px" height="auto" alt="Img logo egg">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto elementos">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ofertas
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')"  th:href="@{/oferta/registrar}">Crear Oferta</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item"  th:href="@{/oferta/lista}">Listar Ofertas</a></li>
                </ul>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Productos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')"  th:href="@{/producto/registrar}">Crear Producto</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item"   th:href="@{/producto/lista}">Listar Producto</a></li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Proveedores 
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')"  th:href="@{/proveedor/registrar}">Crear Proveedor</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item"  th:href="@{/proveedor/lista}">Listar Proveedores</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Rubros
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')"  th:href="@{/rubro/registrar}">Crear Rubros</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/rubro/lista}">Listar Rubros</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Clientes
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')"  th:href="@{/registrar}">Registrar clientes</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item"  th:href="@{/listarUsuarios}">Listar Clientes</a></li>

                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Perfil
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/perfil}">Editar Perfil</a></li>

                    <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link " th:if="${session.usuariosession == null}" href="/registrar" id="navbarDropdown" role="button" aria-expanded="false">
                    Registrate!
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link " th:if="${session.usuariosession == null}" href="/login" id="navbarDropdown" role="button" aria-expanded="false">
                    LOGIN!
                </a>

            </li>
        </ul>
    </div>
</nav>